/* GENERAL*/
:root {
    --dark: rgba(59, 29, 45);
    --light: rgba(230, 225, 227);
    --gold: #d9a25f;
}

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: "Faculty Glyphic";
    margin: 0;

    background-image: url("assets/texture2.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(230, 225, 227);
}

    /* GENERAL LINKS */
    a {
        color: rgb(230, 225, 227);

        transition:
                transform 0.4s ease,
                color 0.4s ease;
    }
    a:hover {
        color: rgba(217, 162, 95);

        transform: scale(0.90);
    }
    a:active {
        color: rgba(70, 137, 139);
    }

/* NAVIGATION */
nav {
    background-color: rgba(59, 29, 45);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.25rem;

    position: relative;
    z-index: 100;

    filter: drop-shadow(1px 20px 8px rgba(59, 29, 45, 0.4));
}

/* LOGO */
.logo img {
    transition: transform 0.6s ease;

    height: clamp(80px, 12vw, 180px);
    width: auto;
}
.logo img:hover {
    transform: scale(0.85);
}


/* NAV LINKS */
.navlinks {
    list-style: none;

    display: flex;
    justify-content: center;

    gap: clamp(1rem, 2.5vw, 2.5rem);
}
.navlinks a {
    color: rgba(230, 225, 227);

    text-decoration: none;

    font-size: clamp(1.5rem, 3.5vw, 3.5rem);

    display: inline-block;

    transition: transform 0.6s ease;

    margin-right: clamp(0.5rem, 1.2vw, 1.5rem);
}
.navlinks a:hover {
    transform: scale(0.85);
    color: rgba(217, 162, 95);
}


/* Dropdown */
.navlinks .dropdown {
    position: relative;
}
.navlinks .dropdown-menu {
    position: absolute;

    top: 100%;
    left: 0;

    width: clamp(220px, 20vw, 300px);

    background-color: rgba(59, 29, 45);

    padding: 0.625rem 0;
    margin: 0;

    list-style: none;
}
.navlinks .dropdown-menu li {
    display: block;
    margin: 0;
}
.navlinks .dropdown-menu a {
    display: block;

    font-size: clamp(1rem, 1.5vw, 1.5625rem);

    margin: 0;

    padding: 0.625rem 1.25rem;
}
.dropdown summary {
    color: rgba(230, 225, 227);

    font-size: clamp(1.5rem, 3.5vw, 3.5rem);

    cursor: pointer;
    list-style: none;

    transition: transform 0.6s ease;

    margin-right: clamp(0.5rem, 1.2vw, 1.5rem);
}
.dropdown summary:hover {
    transform: scale(0.85);
    color: rgba(217, 162, 95);
}

/* BURGER TOGGLE */
.burgertoggle {
    display: none;

    font-size: clamp(1.5rem, 4vw, 2rem);

    color: rgba(230, 225, 227);

    cursor: pointer;
}

/* FOOTER */
footer {
    padding: 1.25rem;

    background: rgba(59, 29, 45);

    color: #380f00;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    overflow: auto;

    filter: drop-shadow(
            1px -20px 8px rgba(46, -17, 37, 0.7)
    );
}

/* FOOTER RIGHT */
.right {
    display: grid;

    grid-template-columns: 1fr 1fr;

    justify-content: center;
    align-items: center;
}
.mail img {
    transition: transform 0.6s ease;

    height: clamp(40px, 6vw, 100px);

    display: flex;
}
.mail img:hover {
    transform: scale(0.85);
}
.mail a {
    display: flex;
    justify-content: center;
}


/* FOOTER LEFT */
.left {
    display: grid;

    grid-template-columns: 1fr 1fr;
}
.footercolumn {
    display: flex;

    flex-direction: column;

    gap: clamp(0.5rem, 1vw, 1.25rem);
}
.footercolumn a {
    text-decoration: none;
}
.footercolumn h4 {
    color: rgba(230, 225, 227);

    margin-bottom: 0.625rem;

    text-decoration: underline;
    text-decoration-style: double;
}


/* FOOTER MIDDLE */
.middle {
    width: auto;

    display: flex;

    justify-content: center;
    align-items: center;
}
.middle img {
    height: clamp(100px, 18vw, 250px);

    width: auto;

    transition: transform 0.6s ease;
}
.middle img:hover {
    transform: scale(0.85);
}

/*HOME PAGE*/
/* HERO */
.hero {
    position: relative;

    height: 80vh;

    min-height: 600px;
    max-height: 900px;
}

    /* HERO IMAGE */
    .herocardimage {
        width: 100%;
        height: 100%;
    }
    .herocardimage img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    /* HERO TEXT */
    .herocardtext {
        display: flex;

        flex-direction: column;

        gap: clamp(1rem, 3vh, 3rem);

        position: absolute;

        text-align: right;

        top: 0;
        right: 0;

        width: 55%;
        height: 100%;

        background-color: #E6E1E3FF;

        color: rgba(59, 29, 45);

        padding: clamp(2rem, 4vw, 4rem);

        background-image: url("assets/texture2.jpg");

        background-blend-mode: soft-light;

        clip-path: polygon(
                22% 0,
                100% 0,
                100% 100%,
                62% 110%
        );

        z-index: 2;
    }
    .hero h1 {
        font-size: clamp(3.5rem, 7vw, 9rem);
        margin: -1.2rem;
    }
    .hero h3 {
        font-size: clamp(1.5rem, 2.5vw, 3rem);
        margin: -1.2rem;
        padding: 0.5rem;
    }


    /* HERO CONTACT ICONS */
    .herocontact {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        gap: 1.5vh;
        z-index: 3;
        right: 3rem;
        bottom: 5vh;
    }

/* PEEK PORTFOLIO */
.peekportfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(2rem, 6vw, 6rem);
    background-image: url("assets/texture1.png");
    background-blend-mode: overlay;
    background-color: rgba(59, 29, 45);
    color: rgba(230, 225, 227);
}

    /* PORTFOLIO GRID */
    .photogrid {
        display: grid;

        grid-template-columns:
            repeat(4, minmax(0, 1fr));

        width: min(90vw, 1200px);

        gap: clamp(0.5rem, 1.5vw, 1.5rem);
    }

    /* PHOTOS */
    .sneakportfolio {
        width: 100%;
        height: auto;

        overflow: hidden;

        aspect-ratio: 1 / 1;
    }
    .sneakportfolio img {
        width: 100%;
        height: 100%;

        object-fit: cover;

        transition: transform 0.4s ease;
    }

    /* SEE MORE */
    .seemore {
        position: relative;

        bottom: clamp(-6rem, 52vh, 20rem
        );

        color: rgba(59, 29, 45);

        background-color: rgba(230, 225, 227);

        font-size: clamp(1rem, 2vw, 2rem
        );

        font-weight: bolder;

        border-radius: 50px;

        padding: clamp(1rem, 3vh, 2rem);

        border: 0 solid rgba(230, 225, 227);

        filter: drop-shadow(1px 20px 8px rgba(59, 29, 45, 0.65));

        transition: transform 0.4s ease;
    }
    .seemore:hover {
        background: rgba(217, 162, 95);

        transform: scale(0.90);
    }

/* SHORT ABOUT */
.shortabout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.7fr);
    background-image: url("assets/texture2.jpg");
    background-blend-mode: overlay;
    background-color: #E6E1E3FF;
    justify-items: center;
    color: rgba(59, 29, 45);
    padding: clamp(2rem, 6vw, 6rem);
    padding-top: clamp( 1rem, 1vw, 2rem);
}

    /* RIGHT */
    .profilephoto {
        border-radius: 50%;
        height: clamp(200px,35vw, 550px);
        width: auto;
    }
    .rightaboutmain {
        padding: clamp(
                0.5rem,
                2vw,
                2rem
        );

        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;

        margin-top: clamp(
                1rem,
                5vh,
                5rem
        );

        gap: clamp(
                0.75rem,
                2vw,
                2rem
        );
    }

    /* LEFT */
    .leftaboutmain {
        padding: clamp(
                0.5rem,
                2vw,
                2rem
        );

        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;

        margin-top: clamp(
                1rem,
                5vh,
                5rem
        );
    }
    .shortabout h1 {
        font-size: clamp(
                3rem,
                6vw,
                6rem
        );

        text-decoration-style: wavy;
        text-decoration: underline;

        margin: -1.5rem;
    }
    .shortabout p {
        font-size: clamp(
                1rem,
                2vw,
                2rem
        );

        text-align: justify;

        padding-top: 1rem;
    }

    /* ABOUT BUTTON */
    .seeabout {
        color: rgba(230, 225, 227);

        background-color: rgba(59, 29, 45);

        font-size: clamp(
                1rem,
                2.4vw,
                2.4rem
        );

        font-weight: bolder;

        border-radius: 50px;

        padding: clamp(
                1rem,
                3vh,
                2rem
        );

        border: 0 solid rgba(230, 225, 227);

        filter: drop-shadow(
                1px 20px 8px rgba(59, 29, 45, 0.65)
        );

        transition: transform 0.4s ease;
    }
    .seeabout:hover {
        background: rgba(217, 162, 95);

        transform: scale(0.90);
    }

/* QUICK CONTACT */
.quickcontact {
    display: grid;

    grid-template-columns:
        minmax(0, 1fr)
        minmax(0, 1fr);

    gap: clamp(
            2rem,
            6vw,
            6rem
    );

    padding:
            clamp(3rem, 8vw, 8rem)
            clamp(2rem, 8vw, 8rem);

    background-image: url("assets/texture1.png");

    background-blend-mode: overlay;

    background-color: rgba(59, 29, 45);

    color: rgba(230, 225, 227);
}

    /* CONTACT TEXT */
    .contacttext {
        display: flex;

        flex-direction: column;

        justify-content: center;
    }
    .contacttext h1 {
        font-size: clamp(
                3rem,
                6vw,
                6rem
        );

        margin: 0;
    }
    .contacttext p {
        font-size: clamp(
                1rem,
                2vw,
                2rem
        );

        line-height: 1.4;
    }

    /* CONTACT FORM */
    .contactform {
        display: flex;

        flex-direction: column;

        gap: clamp(
                0.5rem,
                1vh,
                1rem
        );
    }
    .contactform label {
        font-size: clamp(
                1rem,
                1.5vw,
                1.5rem
        );

        margin-top: 1rem;
    }
    .contactform input,
    .contactform textarea {
        font-family: inherit;

        font-size: clamp(
                1rem,
                1.2vw,
                1.2rem
        );

        padding: clamp(
                0.75rem,
                1vw,
                1rem
        );

        border: 2px solid rgba(230, 225, 227);

        border-radius: 10px;

        background-color: rgba(230, 225, 227);

        color: rgba(59, 29, 45);

        outline: none;
    }
    .contactform textarea {
        min-height: 200px;

        resize: vertical;
    }

    /* CONTACT FORM FOCUS */
    .contactform input:focus,
    .contactform textarea:focus {
        border-color: rgba(217, 162, 95);

        box-shadow:
                0 0 0 3px
                rgba(217, 162, 95, 0.25);
    }

    /* CONTACT FORM BUTTON */
    .contactform button {
        align-self: center;

        margin-top: 2rem;

        padding:
                clamp(0.75rem, 2vh, 1.5rem)
                clamp(1.5rem, 3vw, 3rem);

        border: none;
        border-radius: 50px;
        background-color: var(--light);
        color: var(--dark);
        font-family: inherit;
        font-size: clamp(1rem,1.5vw,1.5rem);
        font-weight: bold;
        cursor: pointer;
        filter: drop-shadow(1px 20px 8px rgba(46, -17, 37, 1));
        transition:transform 0.4s ease, background-color 0.4s ease;
    }
    .contactform button:hover {
        background-color: rgba(217, 162, 95);
        transform: scale(0.90);
    }

/* DIVIDER */
/* DOODLES */

/* PORTFOLIO*/
    /*full portfolio*/
        /*GENERAL*/
        .portgrid{
            display: grid;
            grid-template-columns:repeat(4, minmax(0, 1fr));
            width: min(90vw, 1200px);
            height: 40vh;
            gap: clamp(0rem, 1.5vw, 7.5rem);
            row-gap: 0.5vw;
        }
        .fullportfolio {
            width: 100%;
            height: 90%;
            overflow: hidden;
            aspect-ratio: 1 / 1;
        }
        .fullportfolio img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease;
            cursor: pointer;
        }
        .gallery-image:hover {
            transform: scale(0.9);
        }
        .gallery-image {
            transition: ease 0.9s;
        }
        .website-card:hover {
            transform: scale(0.9);
        }
        .website-card {
            transition: ease 0.9s;
        }
        .video1{
            width: 92vh;
            height: 56vh;
        }
        .titleport{
            margin-bottom: 5vh;
            font-size: 3.5vw;
        }

        /*MODALS*/
            /*photo modals*/
        .fullport-modal {
            display: none;

            position: fixed;
            inset: 0;

            background: rgba(0, 0, 0, 0.8);

            z-index: 1000;

            align-items: center;
            justify-content: center;
        }
        .modal-image {
            max-width: 80vw;
            max-height: 80vh;
            object-fit: contain;
            display: block;

        }
        .carousel-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: var(--light);
            border: none;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            font-size: 34px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            color: var(--dark);
        }
        .previous {
            left: 30px;
        }
        .next {
            right: 30px;
        }
        .modal-close{
            position: absolute;
            top: 30px;
            right: 30px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: var(--light);
            color: var(--dark);
            border: none;
            font-size: 25px;
            cursor: pointer;
            z-index: 1002;
        }
        .image-counter{
            position: absolute;

            bottom: 25px;
            left: 50%;

            transform: translateX(-50%);

            color: var(--light);

            font-size: 18px;

            z-index: 1001;
        }

.website-frame-container {
    width: 80vw;
    height: 80vh;
}
.website-frame {
    width: 100%;
    height: 100%;

    border: none;

    background: white;
}
.modal-counter {
    position: absolute;

    bottom: 25px;
    left: 50%;

    transform: translateX(-50%);

    color: white;

    font-size: 18px;

    z-index: 1002;
}

        /* SEE MORE */
        .portseemore {
            position: relative;
            bottom: clamp(-6rem, 52vh, 1rem);
            color: var(--light);
            background-color: var(--dark);
            font-size: clamp(1rem, 2vw, 2rem);
            font-weight: bolder;
            border-radius: 50px;
            padding: clamp(1rem, 3vh, 2rem);
            border: 0 solid rgba(230, 225, 227);
            filter: drop-shadow(1px 20px 8px rgba(59, 29, 45, 0.65));
            transition: transform 0.4s ease;
            margin: 4vh;
            margin-bottom: -3vh;
        }
        .bot{
            margin-bottom: 6vh;
        }
        .portseemore:hover {
            background: rgba(217, 162, 95);
            color: var(--dark);
            transform: scale(0.90);
        }
        .category-port {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    /*webdev*/
       /* SEMESTER */
    .semester {
        margin-bottom: 35px;
        padding: 4vh;
        margin-left: 7vh;
        margin-right: 7vh;
    }
    .semester h2 {
        margin-bottom: 45px;
        font-size: 45px;
        text-decoration: underline;
        display: flex;
        justify-content: center;
    }

    /* PROJECT GRID */
    .project-grid {
        display: grid;

        grid-template-columns: repeat(4, 1fr);

        gap: 5vh;
    }

    /* PROJECT CARD */
    .project-card {
        background: var(--light);

        padding: 8px;

        cursor: pointer;

        transition: transform 0.2s ease;
    }
    .project-card:hover {
        transform: scale(0.90);
    }

    /* PROJECT PREVIEW IMAGE */
    .project-card img {
        width: 100%;
        height: 150px;

        object-fit: cover;

        display: block;
    }

    /* PROJECT TITLE */
    .project-card h3 {
        margin: 8px 0 5px;
        color: var(--dark);
        font-size: 15px;
        letter-spacing: 2px;
    }

    /* PROJECT DESCRIPTION */
    .project-card p {
        margin: 0;
        color: var(--dark);
        font-size: 11px;
        line-height: 1.5;
    }

    /* MODAL */
    .modal {
        display: none;

        position: fixed;

        inset: 0;

        background: rgba(21, 11, 9, 0.68);

        z-index: 1000;
    }

    /* MODAL TITLE */
    .modal-title {
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        color: var(--light);
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 2px;
        white-space: nowrap;
    }

    /* WHITE MODAL WINDOW */
    .modal-window {
        position: absolute;
        width: 89%;
        height: 79%;
        background: var(--light);
        left: 50%;
        top: 52%;
        transform: translate(-50%, -50%);
    }

    /* CLOSE BUTTON */
    .close-button {
        position: absolute;
        right: -15px;
        top: -15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--light);
        border: none;
        font-size: 25px;
        cursor: pointer;
        z-index: 2;
    }

    /* WEBSITE */
    .website-frame {
        width: 100%;
        height: 100%;
        zoom: 0.6;

        border: none;
    }

    /*illustrations*/
.mosaic-grid {
    columns: 3;
    margin: 10vh;
}

.mosaic-item {
    break-inside: avoid;

    margin-bottom: 10px;

    cursor: pointer;

    overflow: hidden;
}

.mosaic-item img {
    width: 100%;
    height: auto;

    display: block;
}

.photo-modal {
    display: none;

    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.85);

    z-index: 1000;

    align-items: center;
    justify-content: center;
}
.photo-viewer {
    position: relative;

    max-width: 80vw;
    max-height: 80vh;

    overflow: hidden;
}
.photo-modal-image {
    display: block;

    max-width: 80vw;
    max-height: 80vh;

    width: auto;
    height: auto;

    object-fit: contain;
}
.photo-description {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    padding: 20px;

    background: rgba(0, 0, 0, 0.65);

    color: white;

    transform: translateY(100%);

    transition: transform 0.3s ease;
}
.photo-viewer:hover .photo-description {
    transform: translateY(0);
}
.photo-carousel {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background: white;

    font-size: 30px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    line-height: 1;

    z-index: 1001;
}

.photo-carousel.previous {
    left: 30px;
}

.photo-carousel.next {
    right: 30px;
}

.photo-modal-close {
    position: absolute;

    top: 30px;
    right: 30px;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;

    background: white;

    font-size: 25px;

    cursor: pointer;

    z-index: 1002;
}
.photo-counter {
    position: absolute;

    bottom: 25px;
    left: 50%;

    transform: translateX(-50%);

    color: white;

    font-size: 18px;

    z-index: 1001;
}



    /*animation*/
    /*Visual dev*/
    /*game photography*/




/* ABOUT */
/*Content*/
    .layout{
        display:grid;
        grid-template-columns: 2fr 1fr;
        padding: 10px;
        gap: 10px;
        min-height:100vh;
        margin-right: 10px;
    }
    .left-column{
        display: grid;
        gap: 10px
    }
    .right-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: justify;
        margin-right: 23px;
        margin: 5px;
        padding-right: 1.5vh;
    }
    .card{
        padding: 10px;
        margin: 5px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .card h3{
        margin-bottom: 10px;
    }
    .profile-image {
        border-radius: 50%;
        padding: 2px;
        width: auto;
        height:73vh;
    }
    .text h3{
        font-size: 2rem;
        text-align: center;
        padding: 10px;
    }
    .text p{
        font-size: 1rem;
    }
    .text.rightcolumn{
        text-align: justify;
    }
    .text{
        margin:4vh;
        margin-bottom: 0;
    }
    .resume {
        color: rgba(230, 225, 227);
        background-color: rgba(59, 29, 45);
        font-size: clamp(1rem,1.4vw,2.4rem);
        font-weight: bolder;
        border-radius: 50px;
        padding: clamp(1rem, 2.4vh, 2rem);
        border: 0 solid rgba(230, 225, 227);
        filter: drop-shadow(1px 20px 8px rgba(59, 29, 45, 0.65));
        transition: transform 0.4s ease;
        margin-bottom: 3vh;
    }
    .resume:hover {
        background: rgba(217, 162, 95);
        transform: scale(0.90);
    }

/* CONTACT */
.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: clamp(2rem, 6vw,6rem);
    padding:clamp(3rem, 1vw, 8rem) clamp(2rem, 8vw, 8rem);
    background-image: url("assets/texture1.png");
    background-blend-mode: overlay;
    background-color: var(--light);
    color: var(--dark);
    grid-row-gap: 0;
    grid-column-gap: 5vh;
}

/* CONTACT TEXT */
.contactpagetext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
}
.contactpagetext h1 {
    font-size: clamp(3rem, 4.5vw, 6rem);
    margin: 0;
}
.contactpagetext p {
    font-size: clamp(1rem, 1.3vw, 2rem);
    line-height: 1.4;
    margin: 0;
    margin-top: 0.2rem;
}

/* CONTACT FORM */
.contactformpage {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1vh, 1rem);
    grid-column: 2;
}
.contactformpage label {
    font-size: clamp( 1rem, 1.5vw, 1.5rem );
}
.name{
    margin-top: 1rem;
}
.contactformpage input,
.contactformpage textarea {
    font-family: inherit;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    padding: clamp(0.75rem, 1vw,1rem);
    border: 3px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
    outline: none;
    filter:drop-shadow(1px 3px 4px var(--dark));
}
.contactformpage textarea {
    min-height: 200px;
    resize: vertical;
}
.contactformpage input::placeholder {
    color: var(--dark);
    filter: opacity(0.8);
}

.contactformpage textarea::placeholder {
    color: var(--dark);
    filter: opacity(0.8);
}

/* CONTACT FORM FOCUS */
.contactformpage input:focus,
.contactformpage textarea:focus {
    border-color: rgba(217, 162, 95);
    box-shadow: 0 0 0 3px rgba(217, 162, 95, 0.25);
}

/* CONTACT FORM BUTTON */
.contactformpage button {
    align-self: center;
    padding:clamp(0.75rem, 1.3vh, 1.5rem) clamp(1.5rem, 3vw, 3rem);
    border: none;
    border-radius: 50px;
    background-color: var(--gold);
    color: var(--dark);
    font-family: inherit;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(1px 20px 8px rgba(46, -17, 37, 0.5));
    transition:transform 0.4s ease, background-color 0.4s ease;
}
.contactformpage button:hover {
    background-color: rgba(217, 162, 95);
    transform: scale(0.90);
}

/*DOODLE*/
.doodlecontact {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    justify-items: start;
    justify-content: center;
    align-content: center;
    padding-right: 0.5vh;
}
.doodlecontact img{
    height: 43vh;
    width: auto;
}

/* RESPONSIVE */

    /* MOBILE */
    @media (max-width: 600px) {


        /* -----------------------------------------------------
           NAV
           ----------------------------------------------------- */

        nav {
            padding: 0.625rem 0.9375rem;
        }

        .logo img {
            height: 70px;
        }

        .navlinks {
            display: none;

            flex-direction: column;

            gap: 1rem;

            background-color: rgba(59, 29, 45);

            position: absolute;

            top: 100%;
            left: 0;

            width: 100%;

            padding: 1.25rem;
        }

        .navlinks a {
            font-size: 7vw;
        }

        .burgertoggle {
            display: block;

            font-size: 30px;
        }

        .navlinks.active {
            display: flex;

            flex-direction: column;

            align-items: center;

            margin-top: -1px;

            width: 100%;
        }


        /* MOBILE DROPDOWN */

        .navlinks {
            flex-direction: column;

            gap: 1rem;
        }

        .dropdown summary {
            font-size: 7vw;

            margin: 0;
        }

        .navlinks .dropdown-menu {
            position: static;

            width: 100%;

            padding: 0;
        }

        .navlinks .dropdown-menu a {
            font-size: 1rem;

            padding:
                    0.625rem
                    1.25rem;
        }


        /* -----------------------------------------------------
           HERO
           ----------------------------------------------------- */

        .hero {
            height: auto;

            min-height: 0;

            display: flex;

            flex-direction: column;
        }

        .herocardimage {
            width: 100%;

            height: 50vh;
        }

        .herocardimage img {
            width: 100%;

            height: 100%;

            object-fit: cover;
        }

        .herocardtext {
            position: relative;

            width: 100%;

            height: auto;

            padding:
                    1.625rem
                    1.5625rem;

            text-align: center;

            background-clip: text;

            clip-path: none;

            gap: 15px;

            padding-bottom: 1.5rem;
        }

        .hero h1 {
            font-size: clamp(
                    3rem,
                    12vw,
                    5rem
            );
        }

        .hero h3 {
            font-size: 3vw;

            letter-spacing: 0.5vh;

            margin: -14px;

            padding: 0.5vh;

            margin-top: 0;
        }


        /* HERO CONTACTS */

        .herocontact {
            position: relative;

            right: auto;

            bottom: auto;

            justify-content: center;

            padding: 0;

            padding-bottom: 3vh;
        }

        .mail img {
            height: 6vw;
        }


        /* -----------------------------------------------------
           PORTFOLIO
           ----------------------------------------------------- */

        .photogrid {
            grid-template-columns: 1fr 1fr;

            grid-template-rows: auto;

            width: 100%;

            gap: 10px;
        }

        .byebyemb {
            display: none;
        }

        .seemore {
            position: relative;

            bottom: 72vw;

            font-size: 5vw;

            padding:
                    15px
                    25px;
        }

        .peekportfolio h1 {
            margin-top: -2vw;
        }

        .peekportfolio {
            padding-bottom: 0;
        }


        /* -----------------------------------------------------
           SHORT ABOUT
           ----------------------------------------------------- */

        .shortabout {
            display: grid;

            grid-template-columns: 1fr;

            padding: 5vw;

            padding-top: 7vw;

            padding-bottom: 7vw;
        }

        .shortabout p {
            font-size: 4vw;
        }

        .rightaboutmain {
            display: contents;
        }

        .profilephoto {
            order: 1;

            height: 35vw;
        }

        .leftaboutmain {
            order: 2;
        }

        .seeabout {
            order: 3;
        }


        /* -----------------------------------------------------
           QUICK CONTACT
           ----------------------------------------------------- */

        .quickcontact {
            display: flex;

            gap: 0;

            padding:
                    50px
                    25px;

            padding-bottom: 7vw;

            flex-direction: column;
        }

        .contacttext h1 {
            font-size: 9vw;
        }

        .contacttext p {
            font-size: 4vw;

            margin-top: 1vw;
        }

        .contactform label {
            font-size: 3.5vw;
        }

        .contactform input,
        .contactform textarea {
            font-size: 16px;

            padding: 14px;
        }

        .contactform button {
            align-self: center;

            font-size: 3.5vw;

            padding:
                    15px
                    25px;

            margin-top: 4vw;
        }


        /* -----------------------------------------------------
           FOOTER
           ----------------------------------------------------- */

        footer {
            grid-template-columns: 1fr;

            gap: 40px;

            padding:
                    40px
                    25px;
        }

        .middle img {
            height: 120px;
        }

        .footercolumn a {
            font-size: 16px;
        }

        .footercolumn h4 {
            font-size: 20px;
        }

        .mail img {
            height: 9vw;
        }

        .right {
            order: 2;

            display: flex;

            gap: 10vw;
        }

        .middle {
            order: 1;
        }

        .left {
            order: 3;

            display: grid;

            justify-items: center;
        }
    }

    /* TABLET AND UP */
    @media (min-width: 601px) and (max-width: 900px) {
        .navlinks {
            gap: 1rem;
        }
        .navlinks a,
        .dropdown summary {
            font-size: clamp(
                    1.5rem,
                    4vw,
                    2.5rem
            );
        }
        .hero {
            height: auto;

            min-height: 0;

            display: flex;

            flex-direction: column;
        }
        .herocardimage {
            width: 100%;

            height: 50vh;
        }
        .herocardimage img {
            width: 100%;

            height: 100%;

            object-fit: cover;
        }
        .herocardtext {
            position: relative;

            width: 100%;

            height: auto;

            padding:
                    1.625rem
                    1.5625rem;

            text-align: center;

            background-clip: text;

            clip-path: none;

            gap: 15px;

            padding-bottom: 1.5rem;
        }
        .hero h1 {
            font-size: clamp(
                    3rem,
                    12vw,
                    5rem
            );
        }
        .hero h3 {
            font-size: 3vw;

            letter-spacing: 0.5vh;

            margin: -14px;

            padding: 0.5vh;

            margin-top: 0;
        }


        /* HERO */

        .herocontact {
            position: relative;

            right: auto;

            bottom: auto;

            justify-content: center;

            padding: 0;

            padding-bottom: 3vh;
        }
        .mail img {
            height: 6vw;
        }
        .photogrid {
            grid-template-columns: repeat(2, 1fr);

            width: min(90vw, 700px);
        }
        .seemore{
            position: relative;
            color: rgba(59, 29, 45);
            background-color: rgba(230, 225, 227);
            font-size: clamp(1rem, 5vw, 2rem);
            font-weight: bolder;
            border-radius: 50px;
            padding: clamp(1rem, 3vh, 2rem);
            border: 0 solid rgba(230, 225, 227);
            filter: drop-shadow(1px 20px 8px rgba(59, 29, 45, 0.65));
            transition: transform 0.4s ease;
            bottom: 46rem;
        }
        .shortabout {
            grid-template-columns:
                1fr
                0.8fr;
        }
        .quickcontact {
            gap: 3rem;

            padding:
                    5rem
                    5vw;
        }
        footer {
            grid-template-columns:
                1fr
                1fr
                1fr;
        }
    }
    @media (min-width: 900px) and (max-width: 1050px){
        .hero {
            height: auto;

            min-height: 0;

            display: flex;

            flex-direction: column;
        }
        .herocardimage {
            width: 100%;

            height: 50vh;
        }
        .herocardimage img {
            width: 100%;

            height: 100%;

            object-fit: cover;
        }
        .herocardtext {
            position: relative;

            width: 100%;

            height: auto;

            padding:
                    1.625rem
                    1.5625rem;

            text-align: center;

            background-clip: text;

            clip-path: none;

            gap: 15px;

            padding-bottom: 1.5rem;
        }
        .hero h1 {
            font-size: clamp(
                    3rem,
                    12vw,
                    5rem
            );
        }
        .hero h3 {
            font-size: 3vw;

            letter-spacing: 0.5vh;

            margin: -14px;

            padding: 0.5vh;

            margin-top: 0;
        }


        /* HERO CONTACTS */

        .herocontact {
            position: relative;
            right: auto;
            bottom: auto;
            justify-content: center;
            padding: 0;
            padding-bottom: 3vh;
        }

        .mail img {
            height: 6vw;
        }
    }
